{% extends 'base.html' %}
<html>
<head>
    {% block title %}
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {% endblock %}
{% load staticfiles %}
</head>
<body>
{% block content %}
    <style>
    img{height: 200px;width: 400px;margin: 30px 60px}
    </style>
<div class="container">
    <div class="row">
        <img src="{% static "download.jpg" %}">
        <img src="{% static "download (1).jpg" %}">
        <img src="{% static "download (2).jpg" %}">
        <img src="{% static "download (3).jpg" %}">
    </div>
    <div class="row">
        <img src="{% static "download (4).jpg" %}">
        <img src="{% static "download (5).jpg" %}">
        <img src="{% static "images.jpg" %}">
        <img src="{% static "images (1).jpg" %}">
    </div>
</div>
{% endblock %}